[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vamsi123456
[access "refs/for/refs/*"]
	read = group user/vamsi123456
	push = group user/vamsi123456
	label-Code-Review = -2..+2 group user/vamsi123456
	label-Verified = -1..+1 group user/vamsi123456
	rebase = group user/vamsi123456
	removeReviewer = group user/vamsi123456
	submit = group user/vamsi123456
[access "refs/heads/*"]
	read = group user/vamsi123456
	create = group user/vamsi123456
	push = +force group user/vamsi123456
	pushMerge = group user/vamsi123456
[access "refs/tags/*"]
	push = group user/vamsi123456
	push = +force group user/vamsi123456
